/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  width: 100%;
}

/************************************************/

:root {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

img {
  padding-bottom: 2rem; 
  width: 3.5rem;

}

h1 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
  font-size: 2rem;
  padding-bottom: 2rem;

}

p {
  font-size: .8rem;
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 1.75rem;
}

a {
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

html {
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 375px; /* 25rem */
  height: 100%;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.main {
  width: 20rem;
  margin: 0 auto;
}

.first,
.second,
.third {
  color: white;
  padding: 2rem;
}

.first {
  background-color: hsl(31, 77%, 52%);
  border-radius: .5rem .5rem 0 0;
}
.first a {
  color: hsl(31, 77%, 52%);
}

.second {
  background-color: hsl(184, 100%, 22%);
}
.second a {
  color: hsl(184, 100%, 22%);
}

.third {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 .5rem .5rem;
}
.third a {
  color: hsl(179, 100%, 13%);
}

section a:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

@media screen and (min-width: 800px) {
  :root {
    font-size: calc(15px + .2em);
  }

  html {
    display: initial;
    
   
  }
  body {
    display: initial;
   
  }
  .main {
    display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
  }

  .first {
    border-radius: .5rem 0 0 .5rem;
  }

  .third {
    border-radius: 0 .5rem .5rem 0;
  }
}