/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


/* CSS Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  width: 100%;
}

/************************************************/

:root {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

img {
  padding-bottom: 2rem; 
  width: 3.5rem;

}

h1 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display';
  font-size: 2rem;
  padding-bottom: 2rem;

}

p {
  font-size: .8rem;
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 1.75rem;

}

a {
  font-size: .8rem;
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: .75rem 1.5rem;
  border-radius: 2rem;
}

html {
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 20rem;
  margin: 0 1rem;
}

.first,
.second,
.third {
  color: white;
  padding: 2rem;
}

.first {
  background-color: hsl(31, 77%, 52%);
  border-radius: .5rem .5rem 0 0;
}
.first a {
  color: hsl(31, 77%, 52%);
}

.second {
  background-color: hsl(184, 100%, 22%);
}
.second a {
  color: hsl(184, 100%, 22%);
}

.third {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 .5rem .5rem;
}
.third a {
  color: hsl(179, 100%, 13%);
}

section a:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
}

@media screen and (min-width: 800px) {
  :root {
    font-size: calc(15px + .2em);
  }

  p {
    margin-bottom: 4rem;
  }

  a {
    padding: .5rem 1.5rem;
   
  }


  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40rem;
    margin: 0 1rem;
    height: 100vh;
   
  }

  .first {
    border-radius: .5rem 0 0 .5rem;
  }

  .third {
    border-radius: 0 .5rem .5rem 0;
  }
}